.Header {
  @apply text-white font-bold text-4xl font-BreezeHeader px-5;
}

.Text {
  @apply text-white text-2xl font-BreezeText px-12;
}

.Tagline {
  @apply text-white text-2xl font-BreezeText px-12 italic text-center;
}


.Button {
  @apply text-white font-bold text-2xl font-BreezeHeader rounded-xl border-8 border-blue-600 bg-blue-600;
}

.Body {
  @apply h-screen;
}

.BodyColour {
  @apply bg-gray-900;
}

.PageBanner {
  @apply font-extrabold text-5xl py-4 font-BreezeHeader px-12 bg-clip-text text-white text-center;
}

.PageBannerPhoto {
  @apply h-80 bg-center flex items-center;
}

.HoverText {
  background-size:cover;
  position:absolute;
  display: inline-block;
  z-index: -1;
}

.Tooltip {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 600;
}